<!DOCTYPE html>
<html>
  <head>
    <!-- <meta charset="utf-8"> -->
    <title>squirrel detail </title>
  </head>
  <body>
    <!-- <h1>This is show.html</h1> -->
    <div class="miniwrap">
      <h1>squirrel:  {{ squirrel.unique_squirrel_id }}</h1>
      <h4>longitude: {{ squirrel.longtitude }}</h4>
      <h4>latitude: {{ squirrel.latitude }} </h4>
      <h4>hectare: {{ squirrel.hectare }} </h4>
      <h4>shift: {{ squirrel.shift }} </h4>
      <h4>date: {{ squirrel.date}} </h4>
      <h4>hectare_squirrel_number: {{ squirrel.hectare_squirrel_number }} </h4>
      <h4>age: {{ squirrel.age }} </h4>
      <h4>primary_fur_color: {{ squirrel.primary_fur_color }} </h4>
      <h4>highlight_Fur_color: {{ squirrel.highlight_Fur_color }} </h4>
      <h4>combination_of_primary_and_highlight_color: {{ squirrel.combination_of_primary_and_highlight_color }} </h4>
      <h4>color_notes: {{ squirrel.color_notes }} </h4>
      <h4>location: {{ squirrel.location }} </h4>
      <h4>above_ground_sighter_measurement: {{ squirrel.above_ground_sighter_measurement }} </h4>
      <h4>specific_location: {{ squirrel.specific_location }} </h4>
      <h4>running: {{ squirrel.running }} </h4>
      <h4>chasing: {{ squirrel.chasing }} </h4>
      <h4>climbing: {{ squirrel.climbing }} </h4>
      <h4>eating: {{ squirrel.eating }} </h4>
      <h4>foraging: {{ squirrel.foraging }} </h4>
      <h4>other_activities: {{ squirrel.other_activities }} </h4>
      <h4>kuks: {{ squirrel.kuks }} </h4>
      <h4>quaas: {{ squirrel.quaas }} </h4>
      <h4>moans: {{ squirrel.moans }} </h4>
      <h4>tail_flags: {{ squirrel.tail_flags }} </h4>
      <h4>tail_twitches: {{ squirrel.tail_twitches }} </h4>
      <h4>approaches: {{ squirrel.approaches }} </h4>
      <h4>indifferent: {{ squirrel.indifferent }} </h4>
      <h4>runs_from: {{ squirrel.runs_from }} </h4>
      <h4>other_interactions: {{ squirrel.other_interactions }} </h4>
      <h4>lati_long: {{ squirrel.lati_long }} </h4>
      <h4>zip_codes: {{ squirrel.zip_codes }} </h4>
      <h4>community_districts: {{ squirrel.community_districts }} </h4>
      <h4>borough_boundaries: {{ squirrel.borough_boundaries}} </h4>
      <h4>city_council_districts: {{ squirrel.city_council_districts }} </h4>
      <h4>police_precincts: {{ squirrel.police_precincts}} </h4>
    </div
    <p><a href="{% url 'sightings:index' %}">Back to squirrels</a></p>>
  </body>
</html>
