<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Squirrel Index</title>
  </head>
  <body>
    <h1>all squirrels</h1>
    
    <div class ="newline">
    <!-- link allows user to create a new squirrel -->
    <p><a href='/sightings/stats'>squirrel sightings statistics</a></p>
    <p><a href='/sightings/add'>Add a new sighting</a></p>
    </div>
    
    
    <div class="wrapper">
      <table>
        <tbody>
          {% for squirrel in squirrel_index %}
            <tr>
	      <td>squirrel: {{ squirrel.unique_squirrel_id }}	</td>
              <td>latitude: {{ squirrel.latitude }}	</td>
              <td>longitude: {{ squirrel.longtitude }}	</td>
	      <td><a href='/sightings/{{squirrel.unique_squirrel_id}}'>Show	</a> <a href='/sightings/{{squirrels.unique_squirrel_id}}/update'>Edit</a></td>

            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </body>
</html>    
