<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Squirrel Index</title>
  </head>
  <body>
    <h1>all squirrel</h1>
    <div class="wrapper">
      <table>
        <tbody>
          {% for squirrel in squirrels %}
            <tr>
              <td>{{ squirrel.latitude }}</td>
              <td>{{ squirrel.longitude }}</td>
              <td>{{ squirrel.unique_squirrel_id }}</td>
              <td><a href="{% url 'sightings:details' unique_squirrel_id=squirrel.unique_squirrel_id %}">Show</a><a href="{% url 'sightings:update' unique_squirrel_id=squirrel.unique_squirrel_id %}">Edit</a></td>

            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class ="newline">
    <!-- link allows user to create a new squirrel -->
    </div>
  </body>
</html>    
